a {
    color: #cdcdcd;  
    text-decoration: none;
}

a:hover {
    color: #ebebeb
}

.header {
    padding: 8px;

    width: 100%;
    height: auto;

    background-color: #1a1a1a;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    color: #cdcdcd;
}




